h1{
    text-align: center;
}
.map{
    width: 50%;
    height: 500px;
    display: inline-block;
}
.map-app{
    margin-left: 50px;
}
.map-controls{
    width: 50%;
    display: inline-block;
}
.dial{
    left: 120px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-user-select: none;
    height: 510px;
    width: 510px;
}