h1{
    text-align: center;
}
.dial{
    left: 120px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-user-select: none;
    height: 380px;
    width: 380px;
}
.map{
    width: 95%;
    float: left;
    height: 900px;
    display: inline-table;
}
.map-app{
    margin-left: 50px;
}
.map-controls{
    right:-1%;
    top: 530px;
    position: absolute;
    opacity: 0.6;
}
.zoom-label-max{
    margin-left: 60px;
    font-size: 30px;
    float:left;
}
.zoom-label-min{
    font-size: 30px;
    margin-right: 27%;
    float:right;
}