

@media only screen and (min-width: 1200px) {
    .map{
        width: 66%;
        float: left;
        height: 500px;
        display: inline-table;
    }
}

@media only screen and (max-width: 1199px) {
    .map{
        width: 95%;
        height: 500px;
        display: inline-block;
    }
}

h1{
    text-align: center;
}
.dial{
    left: 120px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-user-select: none;
    height: 430px;
    width: 430px;
}


.map-app{
    margin-left: 50px;
}
.map-controls{
    width: 430px;
    display: inline-table;
    float: right;
}
.zoom-label-max{
    margin-left: 60px;
    font-size: 30px;
}
.zoom-label-min{
    font-size: 30px;
    margin-right: 27%;
    float:right;
}